python_machine_learning_1/course_materials
python_machine_learning_1/data_files/DataSet/DataSet.zip
python_machine_learning_1/data_files/DataSet/day_1/.ipynb_checkpoints
python_machine_learning_1/data_files/DataSet/day_2/.ipynb_checkpoints
